@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.movie {
  background-color: #0275d8;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  background-color: #0275d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  background-color: #0275d8;
  color: white;
  margin: 0;
}

.movie-over {
  background-color: #fff;
  position: absolute;
  color: #0275d8;
  text-align: center;
  transform: translateY(100%);
  padding: 1rem;
  bottom: 0;
  left: 0;
  max-height: 100%;
  border-radius: 3px;
  overflow: hidden;
  right: 0;
  transition: transform 0.3s ease-in-out;
}

.movie-over h2 {
  background-color: #fff;
  color: #0275d8;
}

.movie-over p {
  background-color: #fff;
  color: black;
}

.movie:hover .movie-over {
  color: white;
  background-color: white;
  transform: translateY(0%);
}

span {
  background-color: rgba(0, 0, 0, 0.87);
  border: none;
  padding: 2px;
  border-radius: 2px;
  color: yellow;
}
