* {
  background-color: #212529;
}

.card-div {
  min-width: 300px;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.account-redirect {
  color: #fff;
  text-align: center;
}

.forgot-password {
  text-align: center;
  padding: 1rem;
}

.text-center {
  padding: 2rem;
}
